* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    background-color: #ffffff;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

.nav-texto{
    color: #080808;
    text-decoration: none;
}

.nav-link{
    color: #313030;
    text-decoration: none;
}

.DARA{
    font-size: 20px;
    font-weight: bold;
    padding: 0 40PX;
    line-height: 80PX;
}

.nav-menu{
    display: flex;
    margin-right: 40PX;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link:hover,
.nav-menu-link_active{
    background-color: #9e9797;
    transition: 0.5s;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 5px;
}

.nav-toggle{
    color: #07013f;
    background: none;
    border: none;
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    
    display: none;
}

@media (max-width: 768px){
    body {
        padding-top: 90px;
    }
    
    .contenedor {
        padding: 60px 0;
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
    }
    
    .titulo {
        color: #494649;
        font-size: 30px;
        text-align: center;
        margin-bottom: 60px;
    }
    
    header {
        height: 60px;
    }

    .nav-link{
        color: #fffdfd;
        text-decoration: none;
    }
    
    .DARA{
        font-size: 20px;
        padding: 0 20PX;
        line-height: 60PX;
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: left;
        margin-right: 0PX;
        background-color: #263150;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }
    
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background: none;
        color: aliceblue;
    }

    .nav-toggle{
        display: block;
    }

    .nav-menu_visible{
        left: 60%;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
}



/* About us */

.contenedor-Sobre-Nosotros{
    display: flex;
    justify-content: space-between;
}

.imagen-about-us{
    width: 45%;
}

.Sobre-Nosotros .contenido-textos{
    width: 60%;
    
}

.Sobre-Nosotros .contenedor-inicio{
    height: 1000px;
    
    background-image: url(Abstract\ Profile\ Photo\ Instagram\ Post.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px;
}



.contenido-textos h3{
    margin-bottom: 20%;
    font-size: 20px;
    align-items: center;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    font-size: large;
    text-align: justify;
}

.Sobre-Nosotros .contenido-textos{
    width: 50%;
}

.contenido-textos h4{
    margin-bottom: 20%;
    font-size: 20px;
}

.contenido-textos h4 span{
    background: #9e9797;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.Sobre-Nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h5{
    margin-bottom: 20%;
    font-size: 20px;
}

.contenido-textos h5 span{
    background: #9e9797;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.Sobre-Nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h6{
    margin-bottom: 20%;
    font-size: 20px;
}

.contenido-textos h6 span{
    background: #9e9797;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
/* Galeria */

.portafolio{
    background: #f2f2f2;
    display: flex;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 160px;
    overflow: hidden;
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(204, 90%, 50%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*  Our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;

}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

.pie-pagina{
    width: 100%;
    background-color: #263150;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
 
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #b9b4b4;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .redes-sociales a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
} 

.pie-pagina .grupo-1 .redes-sociales a:hover{
    color: #087eec;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 768px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

main{
    padding-top: 0px;
    margin: 0px;
}

@media screen and (max-width: 768px){
    .imagen-port > img{
        width: 200px;
        height: 100px;
        align-items: center;
    }

    .imagen-about-us{
        width: 200px;
        height: 200px;
    }
    
    .imagen-port > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.btn-a{
    display: inline-block;
    margin-top: 30px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    background-color:#1a4d80;
    padding: 20px;
    border-radius: 20px;
}


    




